openapi: 3.2.0
info:
  title: Accredible Issuer API
  description: The Accredible API issues, manages, and verifies digital credentials - certificates and Open Badges - programmatically.
  version: '1.0'
  contact:
    name: Accredible
    url: https://www.accredible.com
  license:
    name: Proprietary
    url: https://www.accredible.com/terms-of-service
servers:
- url: https://api.accredible.com/v1
  description: Production
- url: https://sandbox.api.accredible.com/v1
  description: Sandbox
security:
- tokenAuth: []
tags:
- name: Issuer
  description: Issuer account details and API token management.
paths:
  /issuer/details:
    get:
      operationId: getIssuerDetails
      tags:
      - Issuer
      summary: View an issuer
      description: Returns details about the authenticated issuer account.
      responses:
        '200':
          description: Issuer details.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/generate_token:
    post:
      operationId: generateApiToken
      tags:
      - Issuer
      summary: Update API key
      description: Rotates the API token for the issuer account.
      responses:
        '200':
          description: A new API token.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: A human-readable error message.
        errors:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key sent in the Authorization header using the scheme `Token token=YOUR_API_KEY`.
