openapi: 3.2.0
info:
  title: Accredible Analytics API
  description: The Accredible API issues, manages, and verifies digital credentials - certificates and Open Badges - programmatically.
  version: '1.0'
  contact:
    name: Accredible
    url: https://www.accredible.com
  license:
    name: Proprietary
    url: https://www.accredible.com/terms-of-service
servers:
- url: https://api.accredible.com/v1
  description: Production
- url: https://sandbox.api.accredible.com/v1
  description: Sandbox
security:
- tokenAuth: []
tags:
- name: Analytics
  description: Issuer-level and per-credential engagement analytics.
paths:
  /credentials/analytics/{id}:
    post:
      operationId: getCredentialAnalytics
      tags:
      - Analytics
      summary: View credential analytics
      description: Returns engagement analytics for a single credential.
      parameters:
      - $ref: '#/components/parameters/CredentialId'
      responses:
        '200':
          description: Per-credential analytics.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /analytics:
    get:
      operationId: indexAnalytics
      tags:
      - Analytics
      summary: Index analytics
      description: Returns issuer-level engagement analytics across credentials.
      responses:
        '200':
          description: Issuer analytics.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: A human-readable error message.
        errors:
          type: array
          items:
            type: string
  parameters:
    CredentialId:
      name: id
      in: path
      required: true
      description: The unique ID of the credential.
      schema:
        type: integer
  responses:
    Unauthorized:
      description: Invalid or missing API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key sent in the Authorization header using the scheme `Token token=YOUR_API_KEY`.
